body {
    margin: 0;
    font-family: "Handbag Regular" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Handbag Regular";
    src: url(HandbagRegular-Regular.cb9a85c4.woff) format("woff");
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Avenir";
    src: url(https://mint.alienfrens.io/static/media/Avenir-Light.5bd298b8.woff) format("woff");
    font-style: normal;
    font-display: swap
}

.connectWallet {
    display: inline-block;
    background: #c77fc8;
    border-radius: 8px;
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
    margin-top: 0;
    line-height: 1.2;
    padding: 18px 36px 7px;
    transition: all .3s ease
}

.connectWallet:hover {
    background: #b174b3;
    transition: all .3s ease
}

.social-links {
    display: none;
    color: #000;
    position: absolute;
    text-align: left;
    text-underline-offset: 2px;
    padding: 10px;
    width: 110px;
    top: 118px;
    margin-left: -18px;
    z-index: 100;
    box-shadow: 0 0 2px 2px #fff;
    background-color: #fff;
    border-radius: 2px;
    font-size: 14px
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    border-radius: 0;
    background: #000;
    height: 120px
}

a.nav-link-a.logo-link h2 {
    font-size: 59px;
    font-weight: 400;
    line-height: 1.2;
    margin: 18px auto
}

.navbarContainer a {
    display: inline-block;
    vertical-align: middle
}

img.header-logo,
img.social {
    height: 40px
}

a.nav-link-a.logo-link {
    margin: 0 15%
}

.NavBar {
    width: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 0
}

.nav-link-a,
.nav-link-a:visited {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin: 1px 20px
}

.social-navlink {
    font-size: 14px !important
}

.social-navlink:hover>.social-links {
    display: block
}

.social-links a:visited {
    color: #000
}

.social-links a {
    display: block;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px
}

.social-links a:hover {
    color: #fff;
    background: #000
}

@media(max-width:1000px) {

    .NavBar,
    .navbarContainer {
        display: block;
        width: 100%
    }

    .navbarContainer {
        justify-content: space-between;
        text-align: center;
        border-radius: 0;
        background: #000;
        height: auto;
        padding-bottom: 30px
    }

    a.nav-link-a.logo-link {
        margin: 5px 0 20px;
        display: block
    }

    img.social {
        height: 40px;
        margin: 0 15px
    }

    .nav-link-a {
        display: block;
        font-size: 18px;
        margin: 15px 0
    }
}

.counter-button-container {
    margin: 0 auto;
    border-radius: 20px;
    color: #fff;
    background-position: 50%;
    position: relative;
    background-image: url(v2.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 380px;
    padding: 257px 40px 60px;
    width: 600px
}

.button-wrapper h1 {
    margin-bottom: 0;
    margin-top: 0
}

.sold-out {
    color: #fff;
    font-size: 30px
}

.above-mint {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background: #7fc89a;
    color: #000;
    display: none
}

p.already-minted {
    font-size: 54px;
    font-family: "Handbag Regular" !important;
    margin-bottom: 0
}

p.under-minted {
    margin-top: 0;
    font-weight: 700;
    font-size: 16px
}

img.ufo {
    width: 300px;
    max-width: 100%
}

.above-mint h3 {
    font-size: 60px;
    font-weight: 400;
    font-family: "Handbag Regular";
    text-transform: uppercase;
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 0
}

.bottom-section {
    display: none
}

.bottom-section p {
    color: #fff;
    font-family: "Handbag Regular" !important
}

button.plus,
button.reduce {
    color: #a0e9ca !important;
    width: 47px;
    height: 47px;
    background: rgba(0, 0, 0, .5490196078431373);
    border-radius: 12px !important;
    font-size: 33px
}

button.counting span {
    font-family: "Handbag Regular" !important;
    line-height: 1;
    display: inline-block;
    padding-top: 15px
}

.above-mint p {
    font-family: "Handbag Regular";
    line-height: 1.2;
    font-size: 40px
}

.MuiButton-root {
    line-height: 1 !important
}

button.plus img,
button.reduce img {
    width: 65px
}

img.star-gif {
    width: 130px;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: -56px
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.mintButton {
    color: #000;
    font-family: "Handbag Regular";
    font-size: 33px;
    line-height: 1 !important;
    padding: 20px 40px 0 35px;
    background-color: #7fc89a;
    transition: all .3s ease;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -2px 2px 0 0 #000;
    border: 2px solid #12000b;
    margin: 10px auto
}

button.plus {
    position: relative;
    left: 150px
}

button.reduce {
    position: relative;
    right: 150px
}

.mintButton:hover {
    background: #d8f86b !important;
    transition: all .3s ease;
    opacity: 1
}

.expense {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 33px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 3.2px;
    margin: 10px 0 30px
}

.MuiButton-outlined {
    padding: 0 !important
}

button.counting {
    background-image: url(https://uploads-ssl.webflow.com/6133c7b6e32da83b106ccc0c/61bd2bcc2783745e4de3f8e5_mint-button.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 90px;
    height: 85px;
    margin: 0 9px !important
}

button.counting .MuiButton-label {
    color: #000;
    font-size: 49px;
    margin-top: 10px;
    font-weight: 900;
    font-family: "Gotham"
}

.mint-button {
    width: 280px
}

.MuiButton-outlined,
.MuiButton-outlined.Mui-disabled,
button.reduce {
    border: none !important;
    outline: none !important
}

.mint-component h1 {
    color: #fff;
    line-height: 1;
    font-size: 100px;
    font-weight: 400;
    margin: 40px 0 0
}

.beam-me {
    margin-top: 0;
    color: #fff;
    font-size: 40px
}

.mint-component {
    max-width: 100%;
    margin: 5vh auto 0;
    display: flex;
    padding: 20px 20px 80px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(starback.jpeg);
    background-size: cover
}

img.top-image {
    width: 200px;
    max-width: 100%
}

.contractLink,
.contractLink:visited {
    color: #fff
}

.counter-button-container p {
    margin-top: 26px;
    line-height: 1.4;
    font-size: 40px;
    padding: 0 40px
}

p.small-text {
    margin-top: 0;
    font-size: 28px
}

.counter-button-container h1 {
    margin: 15px 0 0
}

.not-on-list {
    text-align: center;
    padding: 100px 20px;
    color: #fff;
    display: none;
    max-width: 100%;
    background-image: url(starback.jpeg);
    background-size: cover
}

.not-on-list h1 {
    font-size: 50px
}

.not-on-list p {
    font-size: 30px
}

.counter-div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 20px;
    margin: 2vh auto;
    color: #fff;
    font-size: 1.6vmax;
    border-radius: 10px
}

.quantity-address {
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin: 0
}

.MuiButtonGroup-root {
    display: block !important
}

.quantity-address a {
    color: #fff !important
}

@media only screen and (max-width:1024px) {
    .counter-button-container h1 {
        font-size: 25px
    }
}

@media only screen and (max-width:768px) {
    .mint-component {
        padding: 20px 0
    }

    .button-wrapper h1 {
        font-size: 40px
    }

    button.plus,
    button.reduce {
        color: #fff !important
    }

    button.counting {
        width: 60px;
        height: 60px
    }

    button.plus {
        position: relative;
        left: 0
    }

    button.reduce {
        position: relative;
        right: 0
    }

    .counter-button-container p {
        font-size: 33px
    }

    .counter-button-container {
        width: 280px;
        max-width: 100%;
        padding: 180px 0 40px;
        background-size: 280px
    }

    .expense {
        margin: 80px 0 0
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85%;
    margin: 0 auto;
    color: #fff;
    padding: 20px 10px;
    background-color: rgba(52, 56, 64, .8431372549019608);
    text-align: center;
    font-size: 20px;
    border-radius: 20px
}

.cards-container p {
    text-shadow: 1px 2px 5px #000;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 1000
}

.cards-container img {
    width: 350px;
    border-radius: 10px;
    object-fit: fill
}

.cards-container div {
    width: 390px;
    box-shadow: 0 0 3px 1px hsla(0, 0%, 100%, .274);
    background-color: #000;
    margin: 1vh 1vw 4vh;
    padding-bottom: 10px;
    border-radius: 10px
}

@media only screen and (max-width:600px) {
    .cards-container img {
        width: 300px;
        height: 350px;
        margin: 1vh 20px 0
    }

    .cards-container div {
        width: 340px
    }
}

@media only screen and (max-width:400px) {
    .cards-container img {
        width: 270px;
        height: 350px;
        margin: 1vh 20px 0
    }

    .cards-container div {
        width: 310px
    }
}

.App {
    text-align: center
}

body {
    font-family: "Handbag Regular";
    background: #36214b
}

.App-logo {
    height: 40vmin;
    pointer-events: none
}

div[class*=go] {
    font-size: 20px;
    line-height: 1;
    font-family: "Chelsea Market"
}

.logo-wrap {
    text-align: center;
    border-radius: 0;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 700
}

.logo-wrap img {
    max-width: 250px
}

@media (prefers-reduced-motion:no-preference) {
    .App-logo {
        -webkit-animation: App-logo-spin 20s linear infinite;
        animation: App-logo-spin 20s linear infinite
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fff
}

.App-link {
    color: #61dafb
}

@-webkit-keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes App-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}